/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4.5rem;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
}
a {
  text-decoration: none;
}
span {
  font-weight: bold;
}
li {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.top {
  display: flex;
  justify-content: space-between;
}
.top .header {
  margin-top: 20px;
  margin-left: 20px;
}
.top .header h1 {
  margin-bottom: 5px;
}
@media screen and (max-width: 500px) {
  .top .header {
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .top {
    flex-direction: column;
  }
}
.top .nav {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  margin: auto 0;
}
.top .nav a {
  color: black;
  margin-right: 40px;
}
@media screen and (max-width: 500px) {
  .top .nav {
    display: flex;
    justify-content: center;
    margin-left: 35px;
    margin-top: 20px;
  }
}
.middle {
  display: flex;
  max-width: 100%;
  justify-content: center;
  margin: 20px 0 0 20px;
}
@media screen and (max-width: 500px) {
  .middle {
    flex-direction: column;
  }
}
.middle .card {
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 40px;
  margin-bottom: 40px;
  width: 33%;
}
@media screen and (max-width: 500px) {
  .middle .card {
    justify-content: center;
    width: 100%;
  }
}
.middle .card .card-img {
  width: 100%;
  display: flex;
}
.middle .card .card-img img {
  justify-content: space-evenly;
  min-width: 100%;
}
@media screen and (max-width: 500px) {
  .middle .card .card-img img {
    max-width: 100%;
  }
}
.middle .card .card-text {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
.middle .card .card-text h2 {
  font-size: 3rem;
  background: black;
  color: white;
  margin-top: 10px;
}
.middle .card .card-text h3 {
  font-size: 2rem;
  margin-top: 10px;
}
.middle .card .card-text p {
  font-size: 1.5rem;
  line-height: 1.2;
  border: 1px solid black;
  padding: 5px;
  margin-top: 10px;
}
.bottom {
  display: flex;
  max-width: 100%;
  justify-content: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 500px) {
  .bottom {
    flex-direction: column-reverse;
  }
}
.bottom .daniel-bio {
  width: 74%;
  font-family: 'Raleway', sans-serif;
  margin: 0 20px;
  justify-content: space-evenly;
}
@media screen and (max-width: 500px) {
  .bottom .daniel-bio {
    margin: 0 auto;
    width: 100%;
  }
}
.bottom .daniel-bio h2 {
  text-align: center;
  background: black;
  color: white;
  font-size: 3rem;
  margin-bottom: 20px;
}
.bottom .daniel-bio p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-bottom: 10px;
}
@media screen and (max-width: 500px) {
  .bottom .daniel-bio p {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.5rem;
    padding: 0 5px;
  }
}
.bottom .daniel-bio .bottom-nav {
  display: flex;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  margin: 10px 0;
  background: white;
  color: black;
  transition: 0.6s;
}
.bottom .daniel-bio .bottom-nav a:hover {
  background: black;
  color: white;
}
.bottom .daniel-photo {
  width: 26%;
  max-height: 100%;
  justify-content: space-evenly;
}
.bottom .daniel-photo img {
  min-height: 100%;
}
@media screen and (max-width: 500px) {
  .bottom .daniel-photo img {
    min-width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .bottom .daniel-photo {
    width: 100%;
  }
}
